.App {
  text-align: center;
  font-size: 1rem;
  // background-color: rgba(90, 165, 185, 0.7);
  background-color: rgba(2, 48, 71, 0.1);
  // background-image: linear-gradient(
  //   to right,
  //   rgba(2, 48, 71, 0.4) 0%,
  //   rgba(2, 48, 71, 0.8) 100%
  // );
  // background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
  color: rgb(2, 48, 71);
}
// 3498db
