.btn {
  background-image: linear-gradient(
    to right,
    #ffb703 0%,
    #219ebc 51%,
    #023047 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}
