.btn_yellow {
  background-image: linear-gradient(
    to right,
    #ffb703 0%,
    #219ebc 51%,
    #023047 100%
  );
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}

.btn {
  // font-size: 1.7rem;
  // padding: 10px 20px;
  // margin-left: 9px;
  // border-radius: 10px;
  // align-items: center;
  // background-color: #023047;
  // color: #ffb703;
  // &:hover {
  //   box-shadow: 0 0 20px #eee;
  // }
  background-image: linear-gradient(to right, #219ebc 0%, #023047 80%);
  margin: 10px;
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}
