.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  box-shadow: 5px 5px 40px #023047;
  padding: 2rem;
  border-radius: 10px;
  margin: 0 auto 5rem auto;
  background-image: linear-gradient(
    to bottom,
    #023047 0%,
    #219ebc 51%,
    #fff 100%
  );
  &:hover {
    // box-shadow: 5px 5px 40px #023047;
    box-shadow: 0 0 20px #eee;
  }
}

.form__label {
  align-self: flex-start;
  font-size: 1.2rem;
  color: #ffb703;
}
.form__input {
  width: 100%;

  border: 3px solid #023047;
  box-shadow: 5px 5px 40px #023047;
  border-radius: 10px;
  padding: 8px;
  &:hover {
    box-shadow: 0 0 20px #eee;
  }
}
