.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // color: white;
}
.homepage__title {
  overflow: hidden;
  display: flex;
  font-size: 10rem;
  color: #ffb703;
  // color: transparent;
  // background-image: linear-gradient(to right, #ffd700, #ffaf00);

  // background-clip: text;
}
