.modal-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -10px;

  li {
    text-align: left;
  }
}

.modal-circles {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  margin: 5px;

  .circle {
    padding-right: 5px;
    margin: 0px 5px 2px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.close-button {
  background: none;
  border: none;
  padding: 0;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 16px;
  right: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.modal-instructions {
  margin-top: 10px;
}

h3 {
  margin-top: -15px;
}
