.leaderboard {
  background-image: linear-gradient(
    to bottom,
    #023047 0%,
    #219ebc 51%,
    #fff 100%
  );
  color: #023047;
}
.leaderboard__table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}
th {
  border-bottom: 1px solid #023047;
  border-top: 1px solid #023047;
  font-size: 1.2rem;
  background-color: #8ecae6;
  color: #023047;
}
.row_name,
.head_name {
  text-align: left;
}
.head,
.row {
  padding: 0.5rem;
}

.close-button {
  background: none;
  border: none;
  padding: 0;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 16px;
  right: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
