body {
  background-color: #023047;
}

.login {
  display: flex;
  flex-direction: column;
  height: 70%;
  background-color: rgba(2, 48, 71, 0.1);
}

.form {
  border: solid black 2px;
}