.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 600px;
  width: 80%;
  padding: 20px;
  background-color: #023047;
  border: 1px solid;
  border-radius: 8px;

  z-index: 101;

  .modal-content {

    display: flex;
    flex-flow: column wrap;

  }

  .modal-title {
    color: #ffb703;
    font-size: 1.5em;
  }
}