.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #023047;
  padding: 0 10px;
  height: 85px;
}
.navBar__left-part {
  display: flex;
}

.navBar__right-part {
  display: flex;
  gap: 20px;
}
.navBar__menu {
  display: flex;
  list-style: none;
  gap: 20px;
}
.login-register-btn {
  justify-content: center;
  align-items: center;
}

.goalGuesslogo {
  height: 60px;
  width: 60px;
  border-radius: 60%;
}

// color: #ffb703;

a {
  background-image: linear-gradient(
    45deg,
    rgba(#023047, 1) 0%,
    rgba(#219ebc, 1) 54%,
    rgba(#ffb703, 1) 77%,
    rgba(#fb8500, 1) 100%
  );

  background-size: 300%;
  background-position: left;
  background-clip: text;
  color: transparent;
  animation: bg-animation 3s infinite alternate;
  transition: border-bottom 0.3s ease;
  position: relative;
  cursor: pointer;
  letter-spacing: 0.1rem;

  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  &:hover {
    transform: scale(1.5);
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px; /* Height of the line */
    background-color: #ffb703; /* Color of the line */
    // transform: scaleX(0); /* Initially, the line is not visible */
    // // transform-origin: bottom right;
    // transition: width 0.3s ease;
    transition: width 0.5s;
    // border-top-width: 1px;
    // border-color: #ffb703;
    // transition: width 0.25s ease-out;
  }

  &:hover::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #ffb703; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
  }
}
.navBar__title {
  letter-spacing: 0.5rem;
  margin-left: -150px;
  background-image: linear-gradient(
    45deg,
    rgba(#ffffff, 1) 0%,
    rgba(#f9c74f, 1) 54%,
    rgba(#ffb703, 1) 77%,
    rgba(#fb8500, 1) 100%
  );

  background-size: 300%;
  background-position: left;
  background-clip: text;
  color: transparent;
  animation: bg-animation 3s infinite alternate;
  // transition: border-bottom 0.3s ease;
  position: relative;
  cursor: pointer;

  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
}
