.playing-layout h1 {
  font-size: 48px;
}

.playing-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 7em;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 95px;
  background-color: white;
  border: 3px solid black; 
  box-sizing: border-box;
  margin-right: 10px;
}

.grid-answers {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.grid-item img{
  width: 4em;
  height: 4em;
}

.true {
  background-color: green;
}

.false {
  background-color: grey;
}