.input-wrapper {
  display: flex;
  align-items: center;
  width: 40%;
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  height: 2.5em;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  margin: 20px;
  margin-top: 10px;
  border: solid 2px black;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25em;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: #023047;
}

.dropdown {
  width: 100%;
  font-size: 20px;
  border: solid 2px black;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: .6rem;
  max-height: 200px;
  max-width: 350px;
  overflow-y: scroll;
  z-index: 1;
}

.dropdown-item img {
  height: 3em;
}

.dropdown-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  align-items: center;
}

.dropdown-item:hover {
  background-color: #efefef;
}