.signUp {
  display: flex;
  flex-direction: column;
  // background-image: url("../field.png");
  // background-size: cover;
  // background-color: rgba(62, 133, 134, 0.5);
  background-image: linear-gradient(
    to right,
    rgba(2, 48, 71, 0.4) 0% rgba(2, 48, 71, 0.8) 100%
  );
}
.signUp__title {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  margin-left: 1.7rem;
  color: #023047;
  font-weight: bold;
}
